.gatsby-resp-image-wrapper {
  margin-bottom: 1.08rem;
  text-align: center;
}

video {
  margin-bottom: 1.08rem;
  width: 100%;
}

@media (min-width: 720px) {
  .markdown-image {
    width: 50%;
    margin: 0 auto;
  }
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
