h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: BioRhyme, Georgia, serif;
  font-style: normal;
  font-weight: 400;
  color: #333333;
}

body,
p,
li,
dt,
dd {
  font-family: Cabin, sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #333333;
}

.article-content,
.article-content li,
.article-content dt,
.article-content dd,
.article-content figcaption,
.article-content blockquote,
.article-content table,
.article-content th,
.article-content td,
time {
  color: #333333;
  font-family: Cabin, sans-serif;
  font-weight: 400;
}

.article-content li::marker {
  color: #333333;
  font-family: Cabin, sans-serif;
}
